# Node modules
node_modules/

# Environment files
.env

# Logs and runtime
*.JSON
*.log
*.csv

# OS junk
.DS_Store
Thumbs.db

# Build and temp files
dist/
build/
.cache/
*.tmp

# IDE
.vscode/
.idea/
*.swp


